<div class="content-desktop">
    <div>
        <h1>%title%</h1>
        <p>%description%</p>
        {% if show_button == 'yes' %}
            <a href="%button_link%" class="my-button">%button_text%</a>
        {% endif %}
    </div>
    <div class="media {{ is_video == 'yes' ? 'media-video' : 'media-image' }}">
        <div class="media-mask diag-mask">
            {% if is_video == 'yes' %}
                <div class="embed-wrap">
                    <video autoplay muted loop playsinline class="embed">
                        <source src="%video_url%" type="video/mp4">
                    </video>
                </div>
            {% else %}
                <div class="media-mask diag-mask">
                    <img src="%image_url%" alt="Hero image" class="masked-image">
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="content-tablet">
    <h3>%title%</h3>
    <p>%description%</p>
    {% if show_button == 'yes' %}
        <a href="%button_link%" class="my-button">%button_text%</a>
    {% endif %}
</div>

<div class="content-mobile">
    <h4>%title%</h4>
    <p>%description%</p>
</div>